@page
@model PokemonShinyHuntingHelper.Pages.HuntHistoryModel
@{
}

@if (Model.HuntHistoryList.Count() != 0)
{
    @foreach (var i in Model.HuntHistoryList)
    {
        if (i.Type == PokemonShinyHunt.Shared.TypeHunt.SoftReset || i.Type == PokemonShinyHunt.Shared.TypeHunt.Horde || i.Type == PokemonShinyHunt.Shared.TypeHunt.FriendSafari)
        {
            <div>Type of Hunt: @i.Type.ToString()</div>
            <div>Length of Hunt: @i.Amount Encounters</div>
            <div>Pokemon Caught: @i.Pokemon</div>
            @if (@i.ShinyCharm)
            {
                <div>Shiny Charm: Yes</div>
            }
            else
            {
                <div>Shiny Charm: No</div>
            }
            <div>Started Hunt: @i.Start.ToString()</div>
            <div>Finished Hunt: @i.Finish.ToString()</div>
            <a href="/Hunt/@i.Type.ToString()/@i.Id">Details</a>
            <hr />
        }
        else if (i.Type == PokemonShinyHunt.Shared.TypeHunt.ChainFishing || i.Type == PokemonShinyHunt.Shared.TypeHunt.Radar || i.Type == PokemonShinyHunt.Shared.TypeHunt.DexNav || i.Type == PokemonShinyHunt.Shared.TypeHunt.SOSChain)
        {
            <div>Type of Hunt: @i.Type.ToString()</div>

            if (i.Type != PokemonShinyHunt.Shared.TypeHunt.SOSChain)
            {
                <div>Longest Chain: @i.Chain</div>
            }
            else
            {
                <div>Chain Length: @i.Chain</div>
            }
            if (i.Type == PokemonShinyHunt.Shared.TypeHunt.DexNav)
            {
                <div>DexNav Level: @i.DexLevel</div>
            }
            if (i.Type != PokemonShinyHunt.Shared.TypeHunt.SOSChain)
            {
                <div>Length Of Hunt: @i.Amount Encounters</div>
            }
            <div>Pokemon Caught: @i.Pokemon</div>
            @if (@i.ShinyCharm)
            {
                <div>Shiny Charm: Yes</div>
            }
            else
            {
                <div>Shiny Charm: No</div>
            }
            <div>Started Hunt: @i.Start.ToString()</div>
            <div>Finished Hunt: @i.Finish.ToString()</div>
            <a href="/Hunt/@i.Type.ToString()/@i.Id">Details</a>
            <hr />
        }
    }
}
else
{
    <div>There are no pokemon in the hunt history list</div>
}